










































.photbc{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqQsVXqr-eguhE6Vs9SXzroze3D5CL0aPaRQ&s");
background-size: cover;
background-position: center;
height: 500px;
}


.c1{
padding-left: 560px;
padding-top: 100px;

}
